/* =================
    Global Styles
    ================ */
body {
    margin: 0;
    font-size: 1.125rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #707070;
}
img {
    max-width: 100%;
    display: block;
}

/* ===============
    Typopraphy
    ============== */
h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
}
h1 {
    font-size: 2rem;
    margin: 0;
}
a {
    color:#1792d2;
}
a:hover, a:focus {
    color:#143774;
}
strong {
    font-weight: 700;
}

/* Logo subtitle */
.subtitle, .article-read-more {
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1792d2;
}
.subtitle {
    font-size: 0.715rem;
    margin: 0;
}
.article-title {
    font-size: 1.5rem;
}
.article-read-more, .article-info {
    font-size: 0.875rem;
}
.article-read-more {
    text-decoration: none;
}
.article-read-more:hover, .article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}

/* =================
    Layout
    ================ */
header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 690px) {
    .container-flex {
        flex-direction: row;
    }
    main {
        width: 75%;
    }
    aside {
        width: 20%;
    }
}


/* Navigation */
.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75rem;
}

.nav-list-item {
    margin: 1em 0;
}
@media (min-width: 690px) {
    .nav-list {
        flex-direction: row;
    }
    .nav-list-item {
        margin-left: 2em;
    }
}
.nav-link {
    text-decoration: none;
    color: #707070;;
    padding: .25em 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.nav-link:hover, .nav-link:focus {
    color: #1792d2;
}
.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}
